/* Local fonts */
@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
    
}



/* Variables */
:root {
    --color-brand-light: #819B57;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-brand-dark: #465929;
    --color-secondary-shadow: #A18268;
    --color-secondary-light: #CFCFBC;
    --font-brand: 'Poppins', sans-serif;
}

/* Base */
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-primary-dark);
    font-family: var(--font-brand);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.visually-hidden {
    position: absolute;
    left: -10000;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container-outer {
    padding: 0 1.5rem;
}

.container-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 600;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}
/* Button */
.button-order {
    padding: 1rem 2rem; 
    color:var(--color-primary-light);
    
    font-weight: 600;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-order:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* Link */
.link {
    color: var(--color-primary-light);
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.link:hover {
    color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
    margin-bottom: 0;

    color: var(--color-primary-light);

    text-align: center;
    font-weight: 900;
    font-size: 128px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url(../images/hero-section__background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Advantages section */
.advantages-section {
    background-color: var(--color-brand-light);
}

.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.advantages-list__item {
    font-size: 20px;
    font-weight: 300;
}

/* Traditions section */
.traditions-section {
    padding-top: 6rem;
    margin-bottom: 6rem;
}

.traditions-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.traditions-section__text {
    flex-direction: column;
    flex-basis: 710px;
}

.traditions-section__title {
    margin-bottom: 2.625rem;
}

.traditions-section__paragraph {
    margin-bottom: 42px;
    text-align: start;
}

.traditions-section__paragraph .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}
.traditions-section__paragraph .uppercase {
    text-transform: uppercase;
}

.traditions-section__picture {
    display: flex;
}

.traditions-section__image {
    border-top: 1px #fff solid;
    border-top-right-radius: 190px;
    border-top-left-radius: 190px;
}

/* Chefs section */
.chefs-section {
    margin-bottom: 6rem;
}

.chefs-section__title {
    position: relative;
    text-wrap: nowrap;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 520px;
    font-size: 64px;
}

.chefs-section__span {
    color: var(--color-brand-dark);
}

.chefs-section__title::before,
.chefs-section__title::after {
    position: absolute;
    display: block;
    content: '';
    background-color: #CFCFBC;
    width: 352px;
    border: 2px solid var(--color-secondary-light);
}

.chefs-section__title::before {
    left: -360px;
    top: 145px;
}

.chefs-section__title::after {
    right: -360px;
    top: 145px;
}

.chefs-list {
    display: flex;
    align-items: flex-start;
}

.chefs-list li {
    display: inherit;
    align-items: flex-start;
    margin-left: 1.875rem;
    flex: 1 1 50%;
}

.chefs-picture {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -8px 8px 30px gray;
}

.chefs-article__name {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.chefs-article {
    margin-left: 1.875rem;
}

.chefs-article p {
    margin-bottom: 1.6875rem;
}

/* Formats section */
.formats-section {
    margin-bottom: 6rem;
}

.formats-section__title {
    margin-bottom: 5rem;
    text-align: center;
}

.formats-article__list {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
}

.formats-list__item {
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
    width: 349px;
    height: 444px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    padding: 24px;
}


.formats-list__item, p h2{
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);

}

.formats-list__walrus {
    background-image: url(../images/walrus-format.jpg);
}

.formats-list__horseshoe {
    background-image: url(../images/horseshoe-format.jpg);
}

.formats-list__handlebar {
    background-image: url(../images/handlebar-format.jpg);

}

.formats-item__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Contact section */
.contact-section__container {
    display: flex;
    flex: 1 1 50%;
}

.contact-section__heading {
    flex: inherit;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.contact-section__title {
    margin-bottom: 1rem;

}

.contact-section__heading p {
    color: var(--color-brand-dark);
    margin-bottom: 2.625rem;
}

.contact-section__form {
    display: flex;
    flex-direction: column;

}

.contact-section__form input {
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}


/* Footer */



/* Header */
.header {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.0938rem 0;
}
.header-nav {
}
.header-nav__items {
    display: flex;
    justify-content: space-between;
    
}
.header-nav__items > * + * {
    margin-left: 4rem;
}
