/* Local fonts */
@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
    
}



/* Variables */
:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --font-brand: 'Poppins', sans-serif;
}

/* Base */
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-primary-dark);
    font-family: var(--font-brand);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.visually-hidden {
    position: absolute;
    left: -10000;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container-outer {
    padding: 0 24px;
}

.container-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Button */
.button-order {
    padding: 1rem 2rem; 
    color:var(--color-primary-light);
    
    font-weight: 600;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3 ease;
}

.button-order:hover {
    background-color: transparent;
    color: var(--color-brand-da);
}

/* Link */
.link {
    color: var(--color-primary-light);
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.link:hover {
    color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
    margin-bottom: 0;

    color: var(--color-primary-light);

    text-align: center;
    font-weight: 900;
    font-size: 128px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url(../images/hero-section__background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Advantages section */
.advantages-section {
    background-color: var(--color-brand-light);
}

.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.advantages-list__item {
    font-size: 20px;
    font-weight: 300;
}

/* Traditions section */
.traditions-section {
    padding-top: 6rem;
    margin-bottom: 6rem;
}

.traditions-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.traditions-section__text {
    flex-direction: column;
    flex-basis: 710px;
}

.traditions-section__title {
    margin-bottom: 42px;
}

.traditions-section__paragraph {
    margin-bottom: 42px;
}

.traditions-text__paragraph .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}
.traditions-text__paragraph .uppercase {
    text-transform: uppercase;
}

.traditions-section__picture {
    display: flex;
}

.traditions-section__image {
    border-top: 1px #fff solid;
    border-top-right-radius: 190px;
    border-top-left-radius: 190px;
}

/* Chefs section */
.chefs-section__content {
    display: flex;
}

.chefs-section__title {
    margin-bottom: 80px;
    justify-content: center;
}

.chef-nastya__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chef-vlad__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */
.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}
.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Contact section */
.contacts-title {
    margin-bottom: 16px;
}

/* Footer */


/* Header */
.header {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5px 0;
}
.header-nav {
}
.header-nav__items {
    display: flex;
    justify-content: space-between;
    
}
.header-nav__items > * + * {
    margin-left: 64px;
}
